<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodapé</title>
</head>
<body>
  <footer class="fixed-bottom">
    <div class="footer-contact">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/deigelalima/"
        target="_blank"
      >
        <div class="icons">
          <img src="../../../assets/linkedin.png" alt="Ícone do Linkedin" />
        </div>
        Linkedin</a
      >
      <a
        class="footer-link"
        href="https://github.com/DeigelaLima"
        target="_blank"
      >
        <div class="icons">
          <img src="/assets/github.png" alt="Ícone do Github" />
        </div>
        Github</a
      >
      <a
        class="footer-link"
        href="mailto:deigelalima@hotmail.com"
        target="_blank"
      >
        <div class="icons">
          <img src="/assets/email.png" alt="Ícone do E-mail" />
        </div>
        E-mail</a
      >
    </div>
  </footer>
</body>
</html>
