.footer-link {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: rgb(97, 93, 93);
  margin: 5px;
}

.icons img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4ecc9;
}


