
<div class="container mt-5">
  <h2>Listagem de Moedas</h2>
  <mat-card>
    <mat-label>Filtro</mat-label>
    <mat-form-field appearance="fill" class="w-100 select-filter">
      <input matInput (input)="applyFilter($event)" placeholder="Digite o código da moeda">
    </mat-form-field>

    <table mat-table [dataSource]="filteredMoedas" class="mat-elevation-z8">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{element[0]}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element"> {{element[1]}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="totalMoedas" [pageSize]="pageSize" (page)="pageEvent = $event">
    </mat-paginator>
  </mat-card>
</div>

