mat-card {
  padding: 16px;
}

table {
  width: 100%;
}

.container h2 {
  border-radius: 4px;
  padding-left: 8px;
  background-color: #d4ecc9;
}

.select-filter {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(243, 247, 247);
}

.container {
  max-width: 900px;
}


