<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <main class="main-bord">
    <div class="container">
      <div class="image-home">
        <img src="../../../../assets/saco-de-moedas.png" alt="">
      </div>
      <h1>Projeto de conversão de moedas</h1>
      <p>Projeto de conversão de moeda para exemplificar o consumo de APIs</p>
      <p>Utiliza a API <a href="https://exchangerate.host/#/" target="_blank"><b>https://exchangerate.host/</b></a></p>
      <div class="date-time">
        <p>Atualizado em {{ currentDateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      </div>
    </div>
  </main>
</body>
</html>
